@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 270 40% 99%;
        --foreground: 270 51% 0%;
        --muted: 270 28% 85%;
        --muted-foreground: 270 15% 39%;
        --popover: 270 40% 99%;
        --popover-foreground: 270 51% 0%;
        --card: 270 40% 99%;
        --card-foreground: 270 51% 0%;
        --border: 270 4% 89%;
        --input: 270 4% 89%;
        --primary: 270 95% 68%;
        --primary-foreground: 0 0% 0%;
        --secondary: 270 9% 81%;
        --secondary-foreground: 270 9% 21%;
        --accent: 270 16% 72%;
        --accent-foreground: 270 16% 12%;
        --destructive: 11 83% 35%;
        --destructive-foreground: 11 83% 95%;
        --ring: 270 95% 68%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 240 2.78% 14.12%;
        --foreground: 270 22% 99%;
        --muted: 270 28% 15%;
        --muted-foreground: 270 15% 61%;
        --popover: 270 43% 0%;
        --popover-foreground: 270 22% 99%;
        --card: 270 43% 0%;
        --card-foreground: 270 22% 99%;
        --border: 270 4% 15%;
        --input: 270 4% 15%;
        --primary: 270 95% 68%;
        --primary-foreground: 0 0% 0%;
        --secondary: 270 3% 18%;
        --secondary-foreground: 270 3% 78%;
        --accent: 270 9% 25%;
        --accent-foreground: 270 9% 85%;
        --destructive: 11 83% 54%;
        --destructive-foreground: 0 0% 100%;
        --ring: 270 95% 68%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

* {
    scroll-behavior: smooth;
}
